In [61]:
Name = "Name: Mehedi Hasan"
ID = "ID: AIU22102236"
NameID = Name +"\n"+ ID
print(NameID.upper())

NAME: MEHEDI HASAN
ID: AIU22102236

In [3]:
mylist = ["apple", "banana", "cherry"]
print(mylist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [7]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [8]:
list1 = ["abc", 34, True, 40, "male"]

In [1]:
thislist= ["apple", "banana", "cherry"]
if "apple" in thislist:
   print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [2]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [3]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [7]:
thislist = ["apple", "banana", "cherry"]
thislist [1:3]= ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [10]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry']

In [11]:
thislist = ["apple", "banana", "cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [12]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [14]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [17]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [19]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [20]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [21]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [22]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [23]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [24]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [25]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key=str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [26]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [27]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [28]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [29]:
list1 = ["a", "b", "c"]
list2 = [1,2,3]
list3 = list1+list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [30]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [31]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5

In [33]:
thistuple = ( "apple" ,) 
print ( type ( thistuple )) 
#NOT a tuple 
thistuple = ( "apple" ) 
print(type( thistuple))

<class 'tuple'>
<class 'str'>

In [36]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [37]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [38]:
thistuple = tuple (( "apple" , "banana" , "cherry" )) # note the double round-brackets 
print(thistuple )

('apple', 'banana', 'cherry')

In [39]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [40]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [43]:
thistuple = ( "apple" , "banana" , "cherry" ) 
if "apple" in thistuple : 
    print ( "Yes, 'apple' is in the fruits tuple" )

Yes, 'apple' is in the fruits tuple

In [44]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [52]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [48]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [51]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple) 
y.remove("apple")
thistuple=tuple(y)
print(thistuple)

('banana', 'cherry')

In [53]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [54]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [55]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

In [62]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [63]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [64]:
thisset={"apple","banana","cherry","apple"}
print(thisset)
print(len(thisset))
print(type(thisset))

{'cherry', 'banana', 'apple'}
3
<class 'set'>

In [66]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [69]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [71]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'banana', 'apple', 'papaya', 'cherry', 'pineapple'}

In [72]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [73]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [74]:
thisset = {"apple", "banana", "cherry"}
x=thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [75]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [76]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [78]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y) 
print(z)

{'apple'}

In [79]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"} 
x.symmetric_difference_update(y)
print(x)

{'banana', 'microsoft', 'cherry', 'google'}

In [80]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"} 
z = x.symmetric_difference(y)
print(z)

{'banana', 'microsoft', 'cherry', 'google'}

In [86]:
thisdict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [87]:
thisdict = {
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
print(thisdict)
print(len(thisdict))
print(type(thisdict))
print(thisdict["brand"])
print(thisdict["model"])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3
<class 'dict'>
Ford
Mustang

In [88]:
car = { 
    "brand" : "Ford" , 
    "model" : "Mustang" ,
    "year" : 1964 
} 
x = car . keys () 
print ( x ) #before the change
car [ "color" ] = "white" 
print ( x ) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [89]:
car = {
    "brand" : "Ford" ,
    "model" : "Mustang" , 
    "year" : 1964 
} 
x = car . items () 
print ( x ) #before the change 
car [ "color" ] = "red" 
print ( x ) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [91]:
thisdict = {
    "brand" : "Ford" ,
    "model" : "Mustang" ,
    "year" : 1964 
} 
if "model" in thisdict : 
 print ( "Yes, 'model' is one of the keys in the thisdict dictionary" )

Yes, 'model' is one of the keys in the thisdict dictionary